@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);

body {
    font-family: 'Ubuntu', sans-serif;
}

#slider-header {
    margin-left: 2%;
}

.highlight {
    height: 24px;
    position: relative;
    top: -40px;
    left: 10px;
    width: 230px;
    line-height: 1.6;
    background-color: #EAB03C;
    z-index: -1;
  }

.slider {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.slide {
    position: relative;
    min-width: 350px;
    height: 390px;
    transition: 0.5s;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-box-shadow: -8px 8px rgb(46, 36, 89);
    box-shadow: -8px 8px rgb(46, 36, 89);
    -webkit-border: 1px solid rgb(46, 36, 89);
    border: 1px solid rgb(46, 36, 89);
}

#goLeft, #goRight {
    position:  absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: 90%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    vertical-align: middle;
    object-fit: cover;
}

#goRight:hover, #goLeft:hover  {
    cursor: pointer;
    background-color: rgba(191, 161, 240, 0.5);
}

#goLeft {
    left: 0;
    border-radius: 0 1rem 1rem 0;
    background: url('../../assets/arrows/left_arrow.svg') no-repeat center center;
}

#goRight {
    right: 0;
    border-radius: 1rem 0 0 1rem;
    background: url('../../assets/arrows/right_arrow.svg') no-repeat center center;
}

.event-thumbnail {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 800px) {

    #goRight, #goLeft {
        width: 8%;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 4px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }

    .slide {
        min-width: 400px;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 4px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        border: none;
    }

    .highlight {
        left: 0;
    }
}

@media only screen and (max-width: 500px) {

    #goRight, #goLeft {
        width: 11%;
    }

    .slide {
        min-width: 270px;
        margin-left: 13%;
        height: 310px;
    }
}