
.navbar-container{
    width: 100vw;
    min-height: 130px;
    max-height: 137px;
    display: flex;
    align-items: center;

    /* Would be cool to make this a sticky header
    I think you need to move this outside of the 
    header/main component to make it work, i.e. needs
    to be inline/grouped with everything in app.tsx */
    /* position: sticky;
    -webkit-position: sticky;
    top: 0; 
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid black; */
}

#logo-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#circuits {
    position: absolute;
    max-width: 300px;
    z-index: 4;
}

.circuits_0 {
    content: URL('../../assets/circuits/circuit_0.PNG');
}

.circuits_1 {
    content: URL('../../assets/circuits/circuit_1.PNG');
}

.circuits_2 {
    content: URL('../../assets/circuits/circuit_2.PNG');
}

.circuits_3 {
    content: URL('../../assets/circuits/circuit_3.PNG');
}

.circuits_4 {
    content: URL('../../assets/circuits/circuit_4.PNG');
}

.nav-logo{
    cursor: pointer;
    z-index: 5;
}

.nav-bar {
    max-width: 800px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

.nav-bar-item {
    font-family: Ubuntu;
    margin: 10px;
    padding: 5px;
    transition: 0.1s; 
    font-size: 1.17em;
    font-weight: bold;
    border: 3px solid rgb(46, 36, 89);
    border-radius: 0.5em;
    display: inline;
}

.nav-bar-item:hover {
    cursor: pointer;
    border: 3px solid #EAB03C;
    
    background-color: rgb(46, 36, 89);
}

.nav-bar-item:hover > a {
    color: white;
}

.nav-bar-item > a {
    text-decoration: none;
    transition: 0.1s;
    color: rgb(46, 36, 89);
}

.fullscreen-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 150px;
    text-align:center;
}
  
.fullscreen-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
}
  
.fullscreen-nav a:hover{
    color: #f1f1f1;
}
  
.fullscreen-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  

@media only screen and (max-width: 800px){

    #circuits {
        max-width: 200px;
    }

    .nav-logo{
        max-width: 200px;
    }

    .nav-bar {
        display: none;
    }

}


